<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	animationEnabled: true,
	title: {
		text: "Driver Sales Statistics"
	},
	subtitles: [{
		text: "POP",
		fontSize: 16
	}],
	data: [{
		type: "pie",
		indexLabelFontSize: 18,
		radius: 80,
		indexLabel: "{label} - {y}",
		yValueFormatString: "###0.0\"\"",
		click: explodePie,
		dataPoints: [
			{ y: 42, label: "Total Earnings" },
			{ y: 21, label: "Total Admin Commission"},
			{ y: 24.5, label: "Total Intercity Earnings" },
			{ y: 9, label: "Total Intercity Admin Commission" }
		]
	}]
});
chart.render();

function explodePie(e) {
	for(var i = 0; i < e.dataSeries.dataPoints.length; i++) {
		if(i !== e.dataPointIndex)
			e.dataSeries.dataPoints[i].exploded = false;
	}
}
 
}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</div>