 <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Ride Service Statistics",
		horizontalAlign: "left"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent",
		toolTipContent: "<b>{label}:</b> {y}",
		dataPoints: [
			{ y: 67, label: "Total Rides" },
			{ y: 28, label: "Total Users" },
			{ y: 10, label: "Total Drivers" },
			{ y: 7, label: "Ride Placed"},
			{ y: 15, label: "Ride Active"},
			{ y: 6, label: "Ride Completed"},
            { y: 10, label: "Ride Canclled"}
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
